@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #101313;
}

.blue__text {
    color: #002bff;
}

/* NAVIGATION BAR */

nav {
    display: flex;
    height: 150px;
    justify-content: space-between;
    padding: 0 150px;
    background-color: #101313;
    align-items: center;
}

.pp__logo {
    max-width: 200px;
    width: 100%;
}

.nav__bar--links {
    display: flex;
}

.nav__bar--link {
    margin-right: 20px;
    color: rgb(218, 218, 218);
    text-decoration: none;
    font-size: 17px;
    font-weight: 200;
    transition: all 300ms ease;
}

.nav__bar--link:hover {
    color: rgb(116, 116, 116);
}

.opensea__link {
    background-color: #3c8c27;
    border: none;
    padding: 8px 12px;
    border-radius: 15px;
}

.social__link {
    font-size: 20px;
}

/* BODY */

.pp__info--container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 150px;
}

.info__heading {
    color: white;
}

.half__container--left {
    align-items: center;
    margin: auto;
}
.half__container--right {
    align-items: center;
    margin: 24px;
}

.info__para {
    max-width: 600px;
    padding: 10px 10px 10px 0;
    color: rgb(218, 218, 218);
}

#panda__gif {
    max-width: 400px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 1.45);
}

.gallery__img {
    max-width: 250px;
    width: 100%;
    border: 3px black solid;
    border-radius: 6px;
    margin: 5px;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.8);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 100px 100px 100px;
    line-height: 0;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.gallery__section {
    background-color: #101313;
}

#gallery__heading {
    text-align: center;
    padding: 32px;
    color: #0000b5;
    font-size: 38px;
}

/* MEET THE TEAM */

.team__intro {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.team__imgs {
    max-width: 200px;
    width: 100%;
    border-radius: 100px;
}

.team__members {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.team__member {
    text-align: center;
    padding: 0 40px;
}

#team__intro {
    text-align: center;
    color: rgb(218, 218, 218);
}

.member__name {
    font-size: 18px;
    color: rgb(218, 218, 218);
}

.member__role {
    font-size: 14px;
    margin-bottom: 12px;
    color: rgb(218, 218, 218);
}

.member__social--link {
    color: rgb(218, 218, 218);
    text-decoration: none;
    padding: 6px;
    font-size: 20px;
}

/* FAQ's */

.faq {
    background-color:#101313;
}

.faq__container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.questions {
    padding-bottom: 10px;
    color: rgb(218, 218, 218);
}

.faq__heading {
    text-align: center;
    margin: 20px;
    padding-top: 20px;
    color: rgb(218, 218, 218);
}




/* FOOTER */

footer {
    background-color: #1d2222;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pp__footer--logo {
    max-width: 200px;
    width: 100%;
}

.footer__page--links {
    display: flex;
}

.footer__copyright {
    font-size: 12px;
    max-width: 200px;
    width: 100%;
    text-align: center;
    color: rgb(218, 218, 218);
}