@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    list-style: none;
}

::-webkit-scrollbar {
    overflow: scroll;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #62e1e9;
    border-radius: 10px;
}

body {
    background-color: #101313;
}

.blue__text {
    color: #005eff;
}

/* NAVIGATION BAR */

nav {
    display: flex;
    height: 150px;
    justify-content: space-between;
    padding: 0 150px;
    background-color: #101313;
    align-items: center;
}

.pp__logo {
    max-width: 200px;
    width: 100%;
}

.nav__bar--links {
    display: flex;
}

.nav__bar--link {
    margin-right: 20px;
    color: rgb(218, 218, 218);
    text-decoration: none;
    font-size: 17px;
    font-weight: 200;
    transition: all 300ms ease;
    align-items: center;
}

.nav__bar--link:hover {
    color: rgb(116, 116, 116);
}

.opensea__link {
    max-width: 22px;
    margin: auto auto;
    transition: all 300ms ease;
    margin: 2px;
}

.opensea__link:hover {
    transform: scale(1.10);
}

.social__link {
    font-size: 20px;
}

/* BODY */

.pp__info--container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 150px;
}

.info__heading {
    color: white;
}

.half__container--left {
    align-items: center;
    margin: auto;
}
.half__container--right {
    align-items: center;
    margin: 24px;
}

.info__para {
    max-width: 600px;
    padding: 10px 10px 10px 0;
    color: rgb(218, 218, 218);
}

#panda__gif {
    max-width: 400px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 1.45);
}

.gallery__img {
    max-width: 250px;
    width: 100%;
    border: 3px black solid;
    border-radius: 6px;
    margin: 5px;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.8);
    transition: all 300ms ease;
}

.gallery__img:hover {
    transform: scale(1.2);
    cursor: url(/assets/3173.png);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 100px 100px 100px;
    line-height: 0;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.gallery__section {
    background-color: #101313;
}

#gallery__heading {
    text-align: center;
    padding: 32px;
    color: rgb(218, 218, 218);
    font-size: 38px;
}

/* MEET THE TEAM */

.team__intro {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.team__imgs {
    max-width: 200px;
    width: 100%;
    border-radius: 100px;
    transition: all 300ms ease;
}

.team__imgs:hover {
    box-shadow: 0 20px 80px rgb(218, 218, 218);
}

.team__members {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.team__member {
    text-align: center;
    padding: 0 40px;
}

#team__intro {
    text-align: center;
    color: rgb(218, 218, 218);
}

.member__name {
    font-size: 18px;
    color: rgb(218, 218, 218);
}

.member__role {
    font-size: 14px;
    margin-bottom: 12px;
    color: rgb(218, 218, 218);
}

.member__social--link {
    color: rgb(218, 218, 218);
    text-decoration: none;
    padding: 6px;
    font-size: 20px;
    transition: all 300ms ease;
}

.member__social--link:hover {
    color: rgb(116, 116, 116);
}

/* FAQ's */

.faq {
    background-color:#101313;
}

.faq__container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto 100px;
    border: 2px rgb(218, 218, 218) solid;
    padding: 24px;
}

.questions {
    padding-bottom: 10px;
    color: rgb(218, 218, 218);
}

.faq__heading {
    text-align: center;
    margin: 20px;
    color: rgb(218, 218, 218);
    font-size: 32px;
}

.answer {
    font-size: 14px;
    padding-bottom: 20px;
}

.question {
    padding-bottom: 10px;
}



/* FOOTER */

footer {
    background-color: #1d2222;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pp__footer--logo {
    max-width: 150px;
    width: 100%;
}

.footer__page--links {
    display: flex;
    margin-right: 20px;
}

.footer__copyright {
    font-size: 12px;
    max-width: 200px;
    width: 100%;
    text-align: center;
    color: rgb(218, 218, 218);
}

.footer__link {
    margin-right: 20px;
    color: rgb(218, 218, 218);
    text-decoration: none;
    font-size: 14px;
    font-weight: 200;
    transition: all 300ms ease;
    align-items: center;
}

.footer__page--links {
    display: flex;
    flex-direction: column;
}

.footer__link-socials {
    display: flex;
    align-items: center;
}

.footer__socials {
    flex-direction: column;
}

.footer__social--li {
    margin: 0 auto;
    justify-content: center;
}

/* ROADMAP */

.roadmap__row {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.roadmap__heading {
    color: rgb(218, 218, 218);
    text-align: center;
    margin-bottom: 46px;
}

.roadmap__list-item {
    color: rgb(218, 218, 218);
    margin: 20px;
    background-color: #232727;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.roadmap__list-item:nth-child(odd) {
    background-color: #414747;
}

.roadmap__list-item:last-child {
    margin-bottom: 100px;
}

.roadmap__img {
    max-width: 200px;
}

.roadmap__phase {
    margin: 16px 0;
}

.phase__info {
    max-width: 600px;
}

/* MINT */

#mint__panda {
    width: 100%;
    max-width: 400px;
    border-radius: 200px;
    margin: 0 auto;
    margin: 75px;
}

.mint__container {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    margin-bottom: 100px;
}

.mint__img {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

.about__mint {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mint__heading {
    color: white;
    text-align: center;
    margin-bottom: 44px;
}

.mint__social--link {
    font-size: 50px;
}

@media (max-width:768px) {
    nav {
        padding: 0;
    }

    .pp__info--container {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }

    .pp__logo {
        padding-left: 40px;
        padding-right: 40px;
    }

    .info__section {
        margin: 0 auto;
    }

    .info__para {
        padding: 10px 20px;
        font-size: 14px;
    }

    #panda__gif {
        max-width: 300px;
        width: 100%;
    }

    .team__members {
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: space-around;
    }

    .team__imgs {
        max-width: 150px;
        width: 100%;
    }

    .gallery__img {
        max-width: 150px;
        width: 100%;
    }

    .team__member {
        margin-bottom: 32px;
        padding: 0;
    }

    .question {
        font-size: 16px;
    }

    .answer {
        font-size: 12px;
    }

    footer {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        height: 100%;
    }

    .pp__footer--logo {
        margin-bottom: 20px;
    }

    .footer__copyright {
        margin-bottom: 20px;
    }

    .roadmap__phase {
        font-size: 20px;
    }

    .phase__info {
        font-size: 12px;
    }

    .roadmap__img {
        max-width: 125px;
        width: 100%;
    }

    .roadmap__list-item {
        padding: 20px;
    }

    #mint__panda {
        max-width: 250px;
        width: 100%;
    }

    .mint__heading {
        font-size: 24px;
    }

    #mint__social--link {
        font-size: 40px;
    }
}

@media (max-width:480px) {
    .pp__logo {
        display: none;
    }

    #panda__gif {
        max-width: 225px;
        width: 100%;
    }

    .gallery {
        padding: 0 50px 50px;
    }

    .roadmap__img {
        width: 70px;
    }
}




